/*GLOBAL*/
.col-lg-4, .col-sm-12 {
    padding: 0px!important;
}
/* body, html{
    max-width: 1024px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/*HEADERS*/
.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("./ressources/img_cards.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 520px;
}
.headersTexte{
    margin-bottom: 80px;
    width: 460px;
}
/*SECTION CARDS PRESENTATION*/
.positionCards {
    position: absolute;
    bottom: 100px;
}

#presentation {
    width: 74%!important;
}

.card {
    border: none !important;
}
/*SECTION HUMAN*/
#activites{
    height: 406px;
}
.activites{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(112, 112, 112, 0.8) 0%, rgba(206, 206, 206, 0.8) 100%), url("./ressources/human.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    
}

/*SECTION AUTHOR SERVICES CAROUSSEL*/
.swiper-container {
    width: 100%;
    height: 300px;
    padding: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
  }

/*SECTION CONTACT NEWSLETTER CARTE*/
#contact{
    height: 311px;
}
.mapGoogle{
    width: 100%;
    height: 100%;
}
#socialMedia i{
    width: 49px;
    height: 49px;
}

/*FOOTER*/
#footer{
    height: 90px;
    background: grey;
}

@media (max-width:768px){
    /*GLOBAL*/

/*HEADERS*/

/*SECTION CARDS PRESENTATION*/
.positionCards {
    bottom: 0px;
}
/*SECTION HUMAN*/


/*SECTION AUTHOR SERVICES CAROUSSEL*/


/*SECTION CONTACT NEWSLETTER CARTE*/


/*FOOTER*/

}