/*GLOBAL*/
.col-lg-4, .col-sm-12 {
    padding: 0px!important;
}
h1,h2,h3,h4 {
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 55px;
}
p, li {
	font-family: 'Crimson Text', Georgia, Times, serif;
	font-size: 20px;
	line-height: 25px;
}
/*HEADERS*/
.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("./ressources/img_cards.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 520px;
}
.headersTexte{
    margin-bottom: 80px;
    width: 460px;
}
/*SECTION CARDS PRESENTATION*/
.positionCards {
    position: absolute;
    bottom: 100px;
}

#presentation {
    width: 74%!important;
}
.card {
    border: none !important;
}
.card {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
/*SECTION HUMAN*/
#activites{
    background-image: url("ressources/womens-smart-watch.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.businessman {
    width: 220px;
}


/*SECTION AUTHOR SERVICES CAROUSSEL*/
#services{
    display: flex;
}
.swiper-container {
    width: 100%;
    height: 300px;
    padding: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
  }

  #imgAuteur {

      border-radius: 100%;
  }

/*SECTION CONTACT NEWSLETTER CARTE*/
.mapGoogle{
    width: 100%;
    height: 100%;
}
#socialMedia i{
    width: 49px;
    height: 49px;
}
/*FOOTER*/
#footer{
    background: grey;
    text-align: right;
}
.copyright{
    text-align: right;
}

@media (max-width:320px){
/*GLOBAL*/

/*HEADERS*/

/*SECTION CARDS PRESENTATION*/
.positionCards {
    bottom: 0px;
}
/*SECTION HUMAN*/


/*SECTION AUTHOR SERVICES CAROUSSEL*/
#services{
    display: flex;
    flex-direction: column;
}

/*SECTION CONTACT NEWSLETTER CARTE*/
.mapGoogle{
    width: 270px;
    height: 189px;
}
/*FOOTER*/
.copyright{
    text-align: center;
}
}
